@charset "utf-8";
/* CSS Document */

#graphic-cards .card-item-1{background-image: url(../images/finisher.png);}
#graphic-cards .card-item-2{background-image: url(../images/exit-color-copies.png);}
#graphic-cards .card-item-3{background-image: url(../images/paper-stack.png);}
#graphic-cards .card-item-4{background-image: url(../images/full-color-printing.jpg);}
#graphic-cards .card-item-5{background-image: url(../images/plotter-cad.jpg);}
#graphic-cards .card-item-6{background-image: url(../images/giganto.jpg);}
#graphic-cards .card-item-7{background-image: url(../images/xerographic-blueprint.jpg);}
#graphic-cards .card-item-8{background-image: url(../images/heliographic.jpg);}
#graphic-cards .card-item-9{background-image: url(../images/document-scanning.jpg);}
#graphic-cards .card-item-10{background-image: url(../images/blueprints-cd.jpg);}
#graphic-cards .card-item-11{background-image: url(../images/latex-banner.jpg);}
#graphic-cards .card-item-12{background-image: url(../images/vinyl-cut.jpg);}
#graphic-cards .card-item-13{background-image: url(../images/vinyl-mesh.jpg);}
#graphic-cards .card-item-14{background-image: url(../images/personal-cards.png);}
#graphic-cards .card-item-15{background-image: url(../images/social-cards-on-desk.png);}
#graphic-cards .card-item-16{background-image: url(../images/color-flyers.jpg);}
#graphic-cards .card-item-17{background-image: url(../images/paper-block.jpg);}
#graphic-cards .card-item-18{background-image: url(../images/finishing.png);}
#graphic-cards .card-item-19{background-image: url(../images/laminator.jpg);}
#graphic-cards .card-item-20{background-image: url(../images/laminated-calendar.jpg);}
#graphic-cards .card-item-21{background-image: url(../images/pins.png);}
#graphic-cards .card-item-22{background-image: url(../images/sublimated-tshirt-color.jpg);}
#graphic-cards .card-item-23{background-image: url(../images/laser-transfer-black.jpg);}
#graphic-cards .card-item-24{background-image: url(../images/transfer-vinyl-flock.jpg);}
#graphic-cards .card-item-25{background-image: url(../images/epson-cd-printing.jpg);}
#graphic-cards .card-item-26{background-image: url(../images/date-stamps.jpg);}
#graphic-cards .card-item-27{background-image: url(../images/hand_with_glossy_card.jpg);}
#graphic-cards .card-item-28{background-image: url(../images/cutting-metal.jpg);}
