@charset "utf-8";
/* CSS Document */

#technic-cards .card-item-1{background-image: url(../images/microprocessor.jpg);}
#technic-cards .card-item-2{background-image: url(../images/frame-view.jpg);}
#technic-cards .card-item-3{background-image: url(../images/operation-panel.png);}
#technic-cards .card-item-4{background-image: url(../images/drivers-manuals-wood.png);}
#technic-cards .card-item-5{background-image: url(../images/toner-filling.png);}
#technic-cards .card-item-6{background-image: url(../images/detalle-reciclado.jpg);}
#technic-cards .card-item-7{background-image: url(../images/);}
#technic-cards .card-item-8{background-image: url(../images/);}
#technic-cards .card-item-9{background-image: url(../images/);}
#technic-cards .card-item-10{background-image: url(../images/);}
#technic-cards .card-item-11{background-image: url(../images/);}
#technic-cards .card-item-12{background-image: url(../images/);}
#technic-cards .card-item-13{background-image: url(../images/);}
#technic-cards .card-item-14{background-image: url(../images/);}
#technic-cards .card-item-15{background-image: url(../images/);}
#technic-cards .card-item-16{background-image: url(../images/);}
#technic-cards .card-item-17{background-image: url(../images/);}
#technic-cards .card-item-18{background-image: url(../images/);}
#technic-cards .card-item-19{background-image: url(../images/);}
#technic-cards .card-item-20{background-image: url(../images/);}
#technic-cards .card-item-21{background-image: url(../images/);}
#technic-cards .card-item-22{background-image: url(../images/);}
#technic-cards .card-item-23{background-image: url(../images/);}
#technic-cards .card-item-24{background-image: url(../images/);}
#technic-cards .card-item-25{background-image: url(../images/);}
#technic-cards .card-item-26{background-image: url(../images/);}
#technic-cards .card-item-27{background-image: url(../images/);}
